@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --fire-hue: 210;
  }
  
  .dark {
    --background: 0 0% 0%;
    --fire-hue: 200;
  }
}

@layer base {
  body {
    @apply bg-black;
  }
}